body {
    padding-top: 50px;
    margin-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    
    background-color: lightyellow;
    background-image: url("images/pepps.png");
    background-repeat: repeat-x;
    
    padding-bottom: 50px;
    margin-bottom: 70px;
    
    
}

h1 {
    
    color: red;
    font-family: cursive;
    text-align: center;
    letter-spacing: 10px;
    text-shadow: 3px 2px orange;
    font-size: 75px;
    

    
}

h2 {
    
    text-align: center;
    font-family: fantasy;



}

h3 {
    
    text-align: center;
    font-family: monospace;
    
}


h4 {
    
    font-family: cursive;
    font-size: 25px;
}

#intro {
    
    text-align: center;
    color: olive;
    
}


div > article{
    
    
    text-align: center;
    
}

.pizza-pics {
    
    width: 50%; 
    height:50%;
    border: 8px solid black;
    display: block;
    margin: auto;
    opacity: 0.5;
    
       
}

.pizza-pics:hover {
    
    
    width:75%;
    height: 75%;
    opacity: 1;
    
}